# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("chipotle.tsv",sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [3]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [5]:
chipo['item_price'] = chipo['item_price'].astype('float64')
chipo['price'] = chipo['item_price'].apply(lambda x:x.replace('$',''))

ValueError: could not convert string to float: '$2.39 '

In [5]:
for price in chipo['item_price']:
    if (chipo['item_price'] > 10):
        return (item_price)
    else: 
        break

SyntaxError: 'return' outside function (<ipython-input-5-4b8862d0f940>, line 3)

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [6]:
chipo[['item_name','price']]

                                  item_name   price
0              Chips and Fresh Tomato Salsa   2.39
1                                      Izze   3.39
2                          Nantucket Nectar   3.39
3     Chips and Tomatillo-Green Chili Salsa   2.39
4                              Chicken Bowl  16.98
...                                     ...     ...
4617                          Steak Burrito  11.75
4618                          Steak Burrito  11.75
4619                     Chicken Salad Bowl  11.25
4620                     Chicken Salad Bowl   8.75
4621                     Chicken Salad Bowl   8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [6]:
chipo.sort_values(by = 'item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [7]:
chipo[['quantity','item_price']].sort_values(by = 'item_price',ascending = False).iloc[0:1,:]

      quantity item_price
2624         1     $9.39

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [8]:
chipo.loc[chipo['item_name'] == 'Vegie Salad Bowl','quantity'].sum()

0

### Step 9. How many times people orderd more than one Canned Soda?

In [9]:
chipo.loc[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1),'quantity'].count() 
#chipo.filter()

20